<style>
  table, th, td {
    border: 1px solid black;
  }
  td {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
  }
  #bomb_img {
    width: 10px;
    height: 10px;
  }
  .clicked {
    background-color: grey;
  }
  .flag {
    background-color: red;
  }
</style>


<table>
{% for row in grid %}
    <tr>
        {% for cell in row %}
            <td class="{% if not cell.clicked %}clicked{% endif %} {% if cell.flag %}flag{% endif %}">
                {% if cell.mine %}
                    <img src="http://pngimg.com/uploads/bomb/bomb_PNG17.png" id="bomb_img">
                {% else %}
                    {{ cell.number }}
                {% endif %}      
            </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
